<aside class="sidebar">
    <div class="sidebar-menu">
        <a href="#" class="menu-item active" data-page="beranda.html">
            <span>Beranda</span>
        </a>
        <a href="#" class="menu-item" data-page="pendaftaran.html">
            <span>Pendaftaran</span>
        </a>
        <a href="#" class="menu-item">
            <span>Cek Hasil Pemeriksaan</span>
        </a>
        <a href="#" class="menu-item" data-page="riwayat.html">
            <span>Riwayat Pemeriksaan</span>
        </a>
    </div>

    <div class="sidebar-footer">
        <img src="/assets/img/profilepict.jpg" alt="profile-picture" class="footer-avatar" />
        <span class="footer-name">Muhammad Soekarno</span>
    </div>
</aside>