<aside class="sidebar">
    <div class="sidebar-menu">
        <a href="" class="menu-item active">
            <span>Beranda</span>
        </a>
        <a href="" class="menu-item">
            <span>Pendaftaran</span>
        </a>
        <a href="" class="menu-item">
            <span>Cek Hasil Pemeriksaan</span>
        </a>
        <a href="" class="menu-item">
            <span>Riwayat Pemeriksaan</span>
        </a>
    </div>

    <div class="sidebar-footer">
        <img src="/assets/img/profilepict.jpg" alt="profile-picture" class="footer-avatar" />
        <span class="footer-name">Muhammad Soekarno</span>
    </div>
</aside>